<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="refresh" content="1"/>
  <title><%= title %></title>
  <style>
    body {
      padding-left: 12px;
      padding-right: 12px;
      font-size: 18px;
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;
    }
    code {
      display: block;
      background: #444;
      padding: 20px;
    }
    .message { color: yellow; }
    .modules { color: cyan; }
    .active { color: lightgreen; }
    .last { color: lightblue; }
  </style>
</head>
<body>
<h1>Development Server</h1>
<p>Using:</p>
<ul>
  <li><b>webpack</b> v<%= webpackVersion %></li>
  <li><b>webpack-serve</b> v<%= webpackServeVersion %></li>
</ul>
<%
for (var i = 0 ; i < progress.length ; i++) {
  var percent = Math.round(100 * progress[i][0]); %>
<b>Building:</b> <progress value="<%= percent %>" max="100"><%= percent %> %</progress> <%= percent %>%
<p>
  <code>
    <span class="message"><%= progress[i][1] || '' %></span>
    <span class="modules"><%= progress[i][2] || '' %></span>
    <span class="active"><%= progress[i][3] || '' %></span>
    <% for (var m = 4 ; m < progress[i].length; m++) { %>
      <br/>
      <span class="last"><%= progress[i][m] || '' %></span>
    <% } %>
  </code>
</p>
<% } %>
</body>
</html>