<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="refresh" content="1"/>
  <title><%= title %></title>
  <style>
    html, body {
      padding: 0;
      margin: 0;
    }
    body {
      font: 16px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;
      background-color: #e3f2fd;
    }
    .border {
      background: #3f51b5;
      color: white;
      text-align: center;
      padding-top: 20px;
      font-size: 30px;
      height: 120px;
      box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
    }
    .card {
      position: absolute;
      width: 400px;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      padding: 20px;
      box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
    }
    .building {
      font-style: italic;
      font-weight: bold;
    }
    svg {
      margin-top: 20px;
      position: relative;
      left: 37%;
    }
    svg circle {
      fill: transparent;
      stroke-width: 10px;
      stroke-dasharray: 250;
    }
    svg circle.bar {
      stroke: #eee;
    }
    svg circle.progress {
      stroke: #03a9f4;
      transform: rotate(-90deg) translateX(-100px);
    }
    svg text {
      text-align: center;
      font: 20px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;
    }
<% for (let i = 0 ; i < progress.length ; i++) { %>
    .loader--<%= i %> circle.progress {

      stroke-dashoffset: <%= 250 - Math.round(250 * progress[i][0]) %>;
    }
<% } %>
    .message {
      word-break: break-all;
      text-align: center;
      padding: 0 0 10px;
    }
  </style>
</head>
<body>
<div class="border">Development server</div>
<div class="card">
  <div>Using:</div>
  <ul>
    <li><b>webpack</b> v<%= webpackVersion %></li>
    <li><b>webpack-dev-server</b> v<%= webpackDevServerVersion %></li>
  </ul>
  <p>Redirecting to <a id="url" href="#"></a></p>
  <script>var u = document.getElementById('url'); u.href = location.href; u.innerText = location.href;</script>
  <div class="building"><b><i>Your application is building...</i></b></div>
  <% for (let i = 0 ; i < progress.length ; i++) { %>
  <svg class="loader--<%= i %>" height="100" width="100">
    <circle class="bar" cx="50" cy="50" r="40"></circle>
    <circle class="progress" cx="50" cy="50" r="40"></circle>
    <text x="53" y="55" text-anchor="middle"><%= Math.round(100 * progress[i][0]) %>%</text>
  </svg>
  <div class="message"><b><%= progress[0][1] || '' %></b></div>
  <% for (let m = 2 ; m < progress[i].length; m++) { %>
  <div class="message"><%= progress[i][m] || '' %></div>
  <% } %>
  <% } %>
</div>
</body>
</html>